Source: storhaug
Section: net
Priority: optional
Maintainer: Kaleb S. KEITHLEY <kkeithle@redhat.com>
Standards-Version: 3.9.8
Homepage: https://github.com/glusterfs/storhaug
Build-Depends: debhelper (>= 9),
               quilt,
               gnulib,
               ctdb,
               pkgconf
Vcs-Git: https://github.com/glusterfs/storhaug/storhaug.git

Package: storhaug
Architecture: any
Depends: ${misc:Depends}
Description: CTDB-based HA for NFS-Ganesha with GlusterFS

