Source: glusterd2
Section: net
Priority: optional
Maintainer: Kaleb S. KEITHLEY <kkeithle@redhat.com>
Standards-Version: 3.9.8
Homepage: https://github.com/glusterfs/glusterd2
Build-Depends: debhelper (>= 9),
               quilt,
               gnulib,
               glusterfs-common (>= 4.0.0),
               golang,
               pkgconf
Vcs-Git: https://github.com/glusterfs/glusterfs-coreutils/glusterfs-coreutils.git

Package: glusterfs-glusterd2
Architecture: any
Depends: ${misc:Depends}
Description: Next Generation glusterd 
