Source: glusterd2
Section: net
Priority: optional
Maintainer: Kaleb S. KEITHLEY <kkeithle@redhat.com>
Standards-Version: 4.1.1
Homepage: https://github.com/glusterfs/glusterfs-coreutils
Build-Depends: debhelper (>= 9),
               quilt,
               golang-go,
               pkgconf
Vcs-Git: https://github.com/gluster/glusterd2.git

Package: glusterd2
Architecture: any
Depends: ${misc:Depends},
               glusterfs-common (>= 4.1.0),
Description: glusterd2
