#!/usr/bin/make -f
# -*- makefile -*-
#
# Expected debian/rules file that is used by the dpkg build procedure
#
#
# export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	 dh $@ 

override_dh_auto_configure:
	echo "nothing to configure"
	mkdir -p src/github.com/gluster/
	ln -s ../../../ src/github.com/gluster/glusterd2

GD2MAKEFLAGS=PREFIX=/usr EXEC_PREFIX=/usr BINDIR=bin SBINDIR=sbin DATADIR=/run LOCALSTATEDIR=/var/lib LOGDIR=/var/log SYSCONFDIR=/etc

override_dh_auto_build:
	(export PATH="/usr/lib/go-1.8/bin:${PATH}" && \
	export GOPATH="${CURDIR}:/usr/lib/go-1.8:${PATH}" && \
	make -C src/github.com/gluster/glusterd2 ${GD2MAKEFLAGS} glusterd2 && \
	make -C src/github.com/gluster/glusterd2 ${GD2MAKEFLAGS} glustercli && \
	make -C src/github.com/gluster/glusterd2 ${GD2MAKEFLAGS} glusterd2.toml)
	
override_dh_auto_test:
	echo "nothing to test"

override_dh_auto_install:
	install -D build/glusterd2 debian/tmp/usr/sbin/glusterd2
	install -D build/glustercli debian/tmp/usr/sbin/glustercli
	install -D build/glusterd2.toml debian/tmp/etc/glusterd2/glusterd2.toml
	install -D build/glustercli.sh debian/tmp/etc/bash_completion.d/glustercli.sh
	install -D -p -m 0644 extras/systemd/glusterd2.service \
		debian/tmp/lib/systemd/system/glusterd2.service
	install -D -p -m 0644 extras/rpms/glusterd2-logrotate \
		debian/tmp/etc/logrotate.d/glusterd2
